# Ignore React production build
frontend/build

# Ignore pycache
backend/__pycache__

# Ignore auxillary files
.idea
.DS_Store
roadmap.txt

# Ignore database files
database
database-test

# Ignore python venv
venv