# Ignore React production build
frontend/build

# Ignore pycache
backend/__pycache__
backend/migrations/__pycache__
backend/tests/__pycache__
.pytest_cache

# Ignore auxillary files
.idea
.DS_Store
roadmap.txt
backend/migrations/versions

# Ignore database files
database
database-test

# Ignore python venv
venv

# coverage raport
.coverage